* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.top {
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.header {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 40px;
}

.row {
    display: flex;
}

.Profile {
    flex: 1;
}

.user {
    padding: 5px;
    border: 4px solid #000000;
    text-align: center;
    height: 300px;
    width: 250px;
    font-size: 20px;

}

.avatar {
    height: 110px;
    margin: 20px;
}

.left p {
    margin: 20px;
}

.Box1 {
    flex: 2;
    margin-left: 30px;
}

.Boxes {
    padding: 20px;
    margin-bottom: 10px;
    border: 4px solid #000000;
    font-size: 1.2rem;
    
}

.top-line {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px
}

.like-btn {
    background-color: #f2ca4e;
    padding: 8px 8px;
    border: 4px solid #000;
    box-shadow: 4px 4px #000;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 20px;
    cursor: pointer;
}